.parallax {
  background-image: url('assets/img/ryunosuke-kikuno-XDBf3y4NpIA-unsplash.jpg?h=a2dc9d840b11f9746da66e7cb9d08a92');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: relative;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
}

.opaque-div {
  background-color: rgba(255,255,255,0.75);
  height: 25vh;
  position: relative;
}

html {
  font-family: Roboto, sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 300px) {
  .page-title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 75px;
  }
}

.about-content {
  /*box-sizing: content-box;*/
  /*margin-top: 30%;*/
  /*margin-bottom: 30%;*/
  background-color: white;
  padding: 5%;
  overflow: hidden;
}

.about-heading {
  font-weight: bold;
  font-size: 65px;
}

.about-p {
  font-size: 30px;
}

.padding-left {
  padding-left: 20%;
}

.padding-right {
  padding-right: 20%;
}

.about-container-first {
  padding-top: 30%;
  padding-bottom: 30%;
}

.about-container-after {
  padding-bottom: 30%;
}

