@media (max-width: 576px) {
  .page-title.market-sub {
    font-size: 45px;
  }
}

@media (max-width: 300px) {
  .page-title.market-sub {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .searchbar {
    height: 100px;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .form-control.form-control-lg.flex-shrink-1.form-control-borderless {
    font-size: 15px;
  }
}

@media (max-width: 300px) {
  #search-btn {
    width: 100px;
  }
}

