html {
  font-family: Roboto, sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

#ArtsyTitle {
  font-size: 150px;
  text-align: center;
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: Roboto, sans-serif;
}

.banner {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.preview {
  margin: 0;
}

.artworks {
  column-width: 300px;
  grid-gap: 5px;
  padding: 5px;
}

.art {
  float: none;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.artworks .artwork-card {
  width: 100%;
  display: block;
  margin: auto;
  position: relative;
  text-align: center;
}

@media (max-width: 576px) {
  #ArtsyTitle {
    font-size: 100px;
  }
}

.character-head {
  font-weight: bold;
  font-size: 65px;
}

.character-card {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto;
  margin: 300px auto;
  width: 75%;
}

.characteristic-item {
  min-width: 0;
  min-height: 0;
}

.character-image {
  overflow: hidden;
  object-fit: cover;
  max-width: 100%;
}

.characteristic {
  padding: 50px;
}

.card-reverse {
  grid-template-columns: 25% 75%;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.75);
  transition: opacity 0.15s ease-in;
  opacity: 0;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.card-box {
  padding: 15px;
}

.artwork-card:hover .cover {
  opacity: 1;
}

.artist-p, .title-p, .university-p {
  color: rgba(0,0,0,0.35);
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .character-card {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
  }
}

@media (max-width: 992px) {
  .card-reverse {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .animation-element, .in-view, .animation-element.slide-right, .animation-element.slide-left, .animation-element.slide-right.in-view, .animation-element.slide-left.in-view, .color-section.animation-element.bounce-up, .color-section.animation-element.bounce-up.in-view, .banner.color-section.animation-element.smallify, .animation-element.slide-left.in-view, .color-section.animation-element.bounce-up, .color-section.animation-element.bounce-up.in-view, .banner.color-section.animation-element.smallify.in-view {
    opacity: 1;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    animation: none;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .circleObject.circle-1, .circleObject.circle-2, .circleObject.circle-3, .circleObject.circle-4, .circleObject.circle-5, .circleObject.circle-6, .cover, .artwork:hover, .toggleOn, .topnav a.icon, .rotateOn {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    transition: none;
  }
}

@media (max-width: 992px) {
  .character-head {
    font-size: 45px;
  }
}

@media (max-width: 992px) {
  .character-body {
    font-size: 20px;
  }
}

img {
  vertical-align: middle;
  border-style: none;
}

.rounded-circle {
  border-radius: 50%!important;
}

body {
  transition: background 1s ease;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.animation-element {
  opacity: 0;
  position: relative;
}

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.bounce-up {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.smallify {
  opacity: 0;
  -moz-transform: scale(1.4) translate(0px, -30px);
  -webkit-transform: scale(1.4) translate(0px, -30px);
  -o-transform: scale(1.4) translate(0px, -30px);
  -ms-transform: scale(1.4) translate(0px, -30px);
  transform: scale(1.4) translate(0px, -30px);
  -webkit-transition: all 700ms ease-out;
  -moz-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
}

.smallify.in-view {
  opacity: 1;
  -moz-transform: scale(1) translate(0px, 0px);
  -webkit-transform: scale(1) translate(0px, 0px);
  -o-transform: scale(1.4) translate(0px, 0px);
  -ms-transform: scale(1) translate(0px, 0px);
  transform: scale(1) translate(0px, 0px);
}

.upward-circle {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes animateUpwardCircle {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

.circleObject {
  background-color: #ff7879;
  opacity: 0.75;
  border-radius: 50%;
  height: 200px;
  position: absolute;
  width: 200px;
}

.circle-1 {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-animation: animateUpwardCircle 20s linear infinite;
  -moz-animation: animateUpwardCircle 20s linear infinite;
  animation: animateUpwardCircle 20s linear infinite;
  left: 25%;
  top: 30%;
}

.circle-2 {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-animation: animateUpwardCircle 19s linear infinite;
  -moz-animation: animateUpwardCircle 19s linear infinite;
  animation: animateUpwardCircle 19s linear infinite;
  left: 5%;
  top: 40%;
}

.circle-3 {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-animation: animateUpwardCircle 28s linear infinite;
  -moz-animation: animateUpwardCircle 28s linear infinite;
  animation: animateUpwardCircle 28s linear infinite;
  left: 30%;
  top: 20%;
}

.circle-4 {
  -moz-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  -o-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
  -webkit-animation: animateUpwardCircle 12s linear infinite;
  -moz-animation: animateUpwardCircle 12s linear infinite;
  animation: animateUpwardCircle 12s linear infinite;
  left: 50%;
  top: 30%;
}

.circle-5 {
  -moz-transform: scale(1.8);
  -webkit-transform: scale(1.8);
  -o-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8);
  -webkit-animation: animateUpwardCircle 24s linear infinite;
  -moz-animation: animateUpwardCircle 24s linear infinite;
  animation: animateUpwardCircle 24s linear infinite;
  left: 90%;
  top: 80%;
}

.circle-6 {
  -moz-transform: scale(2.0);
  -webkit-transform: scale(2.0);
  -o-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  -webkit-animation: animateUpwardCircle 18s linear infinite;
  -moz-animation: animateUpwardCircle 18s linear infinite;
  animation: animateUpwardCircle 18s linear infinite;
  left: 65%;
  top: 45%;
}

.btn-alt {
  color: black;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  display: none;
  transition: 0.3s;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

